/* Add Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Report Page Container */
.report_page_container {
    height: calc(100vh - 8.5vh - 20px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

/* Report Main Container */
.report_main_container {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
.report_main_container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 0px 0px 10px 0px;
}
.report_main_logo_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.report_main_logo_container img {
    width: 30px;
    margin-right: 10px;
}
.report_main_logo_container p {
    color: #052F5F;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_main_container_tab_list {
    gap: 0px;
    background-color: #B9D9EB;
    border-radius: 5px;
    box-shadow: #e6e6e6 0px 0px 6px;
}
.report_main_container_tab_option {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
.report_main_container_tab_option:hover {
    background-color: #B9D9EB;
}
.report_subheader {
    color: #052F5F;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
}

/* Report Page Content */
.report_page_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Report Side Container */
.report_side_container {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.report_side_cards {
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}
.report_side_card_header {
    color: #2D96FF;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
.report_side_card_text {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

/* Report Download Container */
.report_side_download {
    flex: 1 0 auto;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}
.report_side_download_no_data {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.report_side_download_no_data svg {
    margin-top: -20px;
    margin-bottom: 10px;
}
.report_side_download_no_data strong {
    color: black;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_side_download_no_data p {
    color: #90949C;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.report_side_download_no_data button {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(64, 192, 87);
    padding: 5px;
}
.report_side_download_data{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.report_side_download_data_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.report_side_download_data_header strong {
    color: black;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_side_download_data_button_link {
    width: 40%;
}
.report_side_download_data_button {
    width: 100%;
    color: #052F5F;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(64, 192, 87);
    padding: 5px;
}
.report_side_download_data_button:hover {
    background-color: #3fb555;
}
.report_side_download_data_link_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.report_side_download_data_link_container strong {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_side_download_data_link_container p {
    color: #90949C;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* Report Generate Container */
.report_generate_container{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.report_filter_member {
    width: 80%;
    margin: auto;
}
.report_filter_member .mantine-Select-input {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
}
.report_filter_member .mantine-Select-input:focus {
    border: 2px solid black;
}
.report_filter_member .mantine-Select-dropdown {
    border: 2px solid black;
}
.report_filter_member .mantine-Select-item {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
}
.report_filter_member .mantine-Select-rightSection {
    background-color: transparent;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
}
.report_filter_member .mantine-Select-input:focus + .mantine-Select-rightSection {
    transform: rotate(180deg);
}
.report_filter_row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.report_filter_option {
    width: 50%;
}
.report_filter_header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_filter_header_text {
    color: #052F5F;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_filter_daterange {
    width: 40%;
    margin: 10px 0px 0px 0px;
}
.report_filter_daterange .mantine-DateRangePicker-icon {
    background-color: #25D366;
    border: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px 0px 0px 5px;
}
.report_filter_daterange .mantine-DateRangePicker-input {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}
.report_filter_daterange .mantine-DateRangePicker-dropdown {
    border: 2px solid black;
}
.report_filter_platform .mantine-Checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
.report_filter_alert .mantine-Checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
.report_filter_chip {
    margin: 10px 0px 0px 0px;
}
.report_filter_chip .mantine-Chip-label {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
.report_filter_type .mantine-Radio-label {
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}

/* Report Buttons */
.report_button_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.report_button {
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 5px;
    width: 30%;
    border: 2px solid black;
}
.report_button:hover {
    box-shadow: #e6e6e6 0px 0px 6px;
}

/* Report Image */
.report_image {
    height: 70%;
    position: absolute;
    bottom: 14%;
    right: 5%;
    transform: scale(-1,1);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/* Preview Overview  */
.report_preview_overview .mantine-Modal-title {
    color: #052F5F;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_preview_overview .mantine-Modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.report_preview_overview_header_container {
    width: 99%;
    background-color: #052F5F;
    border-radius: 5px;
}
.report_preview_overview_header {
    width: 85%;
    padding: 10px;
    margin: auto;
    background-color: #052F5F;
}
.report_preview_overview_filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_preview_overview_filter p {
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.report_preview_overview_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.report_preview_overview_children {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border: transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.report_preview_overview_children_platform {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_preview_overview_children_platform img {
    width: 2vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.report_preview_overview_children_platform p {
    color: #052F5F;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_preview_overview_children_text {
    color: black;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.report_preview_overview_children_date {
    color: black;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

/* Report Saved Container */
.report_saved_container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
}
.report_saved_card_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    height: 85%;
    width: 100%;
}
.report_saved_card {
    width: 100%;
    position: relative;
    padding: 10px 5px;
    background-color: white;
    border: transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.report_saved_card_pagination_container {
    display: flex;
    align-items: center;
    height: 15%;
}
.report_saved_button {
    position: absolute;
    right: 20px;
    bottom: 30%;
}
.report_saved_header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.report_saved_header p {
    color: #052F5F;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_saved_header_text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.report_saved_header_text p {
    color: #052F5F;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_saved_header_text svg {
    margin: 0px 5px;
}
.report_saved_filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_saved_filter p {
    color: #052F5F;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

/* Report Saved Overview */
.report_saved_overview .mantine-Modal-title {
    color: #052F5F;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_saved_overview .mantine-Modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.report_saved_overview_header_container {
    width: 99%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
}
.report_saved_overview_header {
    width: 80%;
    padding: 10px;
    background-color: #052F5F;
    border-radius: 5px;
}
.report_saved_overview_button {
    color: #052F5F;
    width: 20%;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(64, 192, 87);
    padding: 0px;
}
.report_saved_overview_button:hover {
    background-color: #3fb555;
}
.report_saved_overview_filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_saved_overview_filter p {
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

/* Report Overview Children */
.report_saved_overview_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.report_saved_overview_children {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border: transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
}
.report_saved_overview_children_platform {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.report_saved_overview_children_platform img {
    width: 2vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}
.report_saved_overview_children_platform p {
    color: #052F5F;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.report_saved_overview_children_text {
    color: black;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.report_saved_overview_children_date {
    color: black;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
