/* Add Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4.5rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color: #052F5F;
    z-index: 6;
    transition: width 0.2s ease-in-out;
}
.sidebar_header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    height: 8.5vh;
    margin-bottom: 10px;
    position: relative;
}
.sidebar_header::after {
    position: absolute;
    content: "";
    border: 4px solid #25D366;
    border-radius: 5px;
    width: 100%;
    bottom: 0px;
}
/* width of collapsed sidebar - paddingLeft - paddingRight */
.sidebar_header img {
    width: 2.5rem;
}
.sidebar_header h2 {
    font-family: "Poppins";
    margin-left: 1rem;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}
.sidebar_navlink {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    padding: 0px;
}
.sidebar_navlink_menu {
    display: none;
    position: relative;
}
.sidebar_navlink_menu p {
    color: white;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
    position: absolute;
    top: -8px;
    left: 10px;
    padding: 0px 5px;
    background-color: #052F5F;
}
.sidebar_navlink_menu hr {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    opacity: unset;
}
.sidebar_navlink_option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* width of collapsed sidebar - paddingLeft - paddingRight */
.sidebar_navlink_option img {
    width: 2.5rem;
}
.sidebar_navlink_option span {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
    color: white;
}
.sidebar_help {
    width: 90%;
    padding: 5px;
    border-radius: 100%;
    background-color: #25D366;
    display: block;
    transition: display 0.2s ease;
}
.sidebar_help_container {
    position: relative;
    height: 15%;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    padding: 20% 0px 10px 0px;
    color: white;
    background-color: #2D96FF;
    border-radius: 5px;
    display: none;
    transition: display 0.2s ease;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 14rem;
}
.sidebar:hover .sidebar_header h2 {
    visibility: visible;
    color: #25D366;
    font-size: 26;
    font-family: "Poppins";
    font-weight: "bold";
}
.sidebar:hover .sidebar_navlink_menu {
    display: block;
    margin: 5px 0px -5px 0px;
    padding: 0px;
}
.sidebar:hover .sidebar_navlink_option span {
    visibility: visible;
    color: white;
    font-family: "Poppins";
    font-weight: 450;
}
.sidebar:hover .sidebar_help {
    display: none;
}
.sidebar:hover .sidebar_help_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
