/* Add Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Attributes for whole page */
body {
    font-family: "Poppins";
    background-color: #B9D9EB;
}

/* No data after Filter Message */
.no_data_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    background-color: white;
}

/* Page Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 10px;
    border-bottom: 3px solid black;
    position: fixed;
    z-index: 1050;
    margin-left: 4.5rem;
    transition: margin-left 0.2s ease-in-out;
}
.sidebar:hover + .header {
    margin-left: 14rem;
    transition: margin-left 0.2s ease-in-out;
}
.header_title {
    color: #25D366;
    font-size: 32px;
    font-family: "Poppins";
    font-weight: 600;
}

/* user container */
.user_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_name {
    color: #25D366;
    font-size: 3vh;
    font-family: "Poppins";
    font-weight: 600;
    margin-left: 10px;
}
.user_avatar {
    border: 3px solid gold;
}
.mantine-Menu-dropdown {
    border: 1.5px solid black;
}

/* filter container */
.filter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    background-color: #0b71aa;
    width: 85%;
}
.filter_label {
    font-family: "Poppins";
    color: white;
    font-size: 14px;
    font-weight: 500;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    padding: 0px;
    border-left: 3px solid black;
    width: auto;
}

/* date segment control filter */
.mantine-SegmentedControl-root {
    border-radius: 5px;
    background-color: #c7e4ff;
    border: 2px solid #052F5F;
    align-items: center;
    width: auto;
}
.mantine-SegmentedControl-active {
    color: #0074e2;
    border: 2px solid black;
}
.mantine-SegmentedControl-label {
    font-family: "Poppins";
    color: #2D96FF;
    font-size: 14px;
    font-weight: 600;
}
.mantine-SegmentedControl-label:hover {
    color: #0074e2;
    font-weight: 600;
}
.mantine-SegmentedControl-labelActive {
    font-family: "Poppins";
    color: #0080ff;
    font-size: 14px;
    font-weight: 600;
}
.mantine-s28z26:not(:first-of-type) {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: #0074e2;
}

/* Date Range Picker */
.popover_date_picker {
    font-family: "Poppins";
    text-align: center;
    width: 300px;
    border-radius: 5px;
    position: relative;
}
.popover_date_picker_label {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date_range_picker .mantine-DateRangePicker-icon {
    background-color: white;
    border: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 0px 0px 5px;
}
.date_range_picker .mantine-DateRangePicker-input {
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid black;
    background-color: #25D366;
    font-size: 16px;
    font-weight: 600;
}
.date_range_picker .mantine-DateRangePicker-dropdown {
    border: 2px solid black;
    position: absolute !important;
    top: 110% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

/* time control information */
.time_control_information {
    font-size: 12px;
    font-family: "Poppins";
    border: 1px solid black;
    z-index: 2000 !important;
}

/* member dropdown */
.member_dropdown_container {
    position: relative;
    flex: 1;
}
.member_dropdown_label {
    z-index: 1;
    top: -20%;
    left: 10%;
    position: absolute;
    padding: 0px 5px;
    margin: 0px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 2px 2px 0px 0px;
}
.member_dropdown_avatar {
    font-size: 15px;
    border: 2px solid black;
}
.member_dropdown {
    border-radius: 8px;
    align-items: center;
}
.member_dropdown .mantine-Select-input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
}
.member_dropdown .mantine-Select-input:focus {
    border: 2px solid black;
}
.member_dropdown .mantine-Select-dropdown {
    border: 2px solid black;
}
.member_dropdown .mantine-Select-item {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
}
.member_dropdown .mantine-Select-rightSection {
    background-color: transparent;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
}
.member_dropdown .mantine-Select-input:focus + .mantine-Select-rightSection {
    transform: rotate(180deg);
}

/* platform dropdown */
.platform_dropdown_container {
    position: relative;
    flex: 1;
}
.platform_dropdown_label {
    z-index: 1;
    top: -20%;
    left: 10%;
    position: absolute;
    padding: 0px 5px;
    margin: 0px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    color: black;
    background: white;
    border-radius: 2px 2px 0px 0px;
}
.platform_dropdown {
    border-radius: 8px;
    align-items: center;
}
.platform_dropdown .mantine-Select-input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
}
.platform_dropdown .mantine-Select-input:focus {
    border: 2px solid black;
}
.platform_dropdown .mantine-Select-dropdown {
    border: 2px solid black;
}
.platform_dropdown .mantine-Select-item {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
}
.platform_dropdown .mantine-Select-rightSection {
    background-color: transparent;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
}
.platform_dropdown .mantine-Select-input:focus + .mantine-Select-rightSection {
    transform: rotate(180deg);
}

/* alert dropdown */
.alert_dropdown_container {
    position: relative;
    flex: 1;
}
.alert_dropdown_label {
    z-index: 1;
    top: -20%;
    left: 10%;
    position: absolute;
    padding: 0px 5px;
    margin: 0px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 2px 2px 0px 0px;
}
.alert_dropdown {
    border-radius: 8px;
    align-items: center;
}
.alert_dropdown .mantine-Select-input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
}
.alert_dropdown .mantine-Select-input:focus {
    border: 2px solid black;
}
.alert_dropdown .mantine-Select-dropdown {
    border: 2px solid black;
}
.alert_dropdown .mantine-Select-item {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
}
.alert_dropdown .mantine-Select-rightSection {
    background-color: transparent;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
}
.alert_dropdown .mantine-Select-input:focus + .mantine-Select-rightSection {
    transform: rotate(180deg);
}

/* Reset the Filters */
.reset_filter_container {
    width: auto;
}
.reset_filter_container:hover {
    transition: transform 1s ease;
    transform: rotate(-360deg);
}

/* Search Bar */
.searchbar_container {
    flex: 1;
    display: inline-block;
}
.searchbar_label {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 0px 0px 2px 0px;
    text-align: center;
}
.searchbar .mantine-Select-input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 50px;
}
.searchbar .mantine-Select-icon {
    background-color: #25D366;
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
}
.searchbar_container .mantine-Select-dropdown {
    border: 2px solid black;
}

/* overview button */
.overview_info_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.overview_avatar .mantine-Avatar-placeholder{
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins";
    color: white;
    background-color: #fa5252;
    border: 2px solid black;
}
.overview_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.overview_info_option {
    display: flex;
    flex-direction: row;
}
.overview_platform {
    margin: 0px;
    padding: 0px;
}
.overview_alert_option {
    text-align: center;
}

/* Member Overview */
.child_overview .mantine-Modal-title {
    font-size:18px;
    font-weight:600;
    font-family: "Poppins";
}
/* kpi_alert_count */
.kpi_alert_count_container {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}
.kpi_alert_count_container:hover {
    transform: translateY(-5px);
}
.kpi_alert_count_label {
    font-size:18px;
    font-weight:600;
    font-family: "Poppins";
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 0px;
    color: #2D96FF;
}
.kpi_alert_count {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* kpi_platform_count */
.kpi_platform_count_container {
    flex: 1;
    display: flex;
    flexDirection: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.kpi_platform_count {
    flex: 1;
    display: flex;
    flexDirection: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.kpi_platform_backward{
    position: absolute;
    left: -12.5px;
    z-index: 1000;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.kpi_platform_count_container:hover .kpi_platform_backward {
    opacity: 1;
}
.kpi_platform_forward{
    position: absolute;
    right: -12.5px;
    z-index: 1000;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.kpi_platform_count_container:hover .kpi_platform_forward {
    opacity: 1;
}
.kpi_platform_count {
    flex: 1;
    display: flex;
    flexDirection: row;
}
.kpi_platform_image {
    width: 3.5vw;
    aspect-ratio: 1 / 1;
}
.kpi_platform_count_elements {
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
}
.kpi_platform_count_elements:last-child {
    margin-right: 0px;
    transition: transform 0.2s ease-in-out;
}
.kpi_platform_count_elements:hover {
    transform: translateY(-5px);
}
.kpi_platform_comparison {
    font-size:12px;
    font-weight:600;
    font-family: "Poppins";
    padding: 0px 5px;
    border: 2px solid;
    border-radius: 5px;
}

/* progress bar */
.risk_categories_progress_bar_container {
    border: 3px solid #052F5F;
    border-radius: 5px;
    background-color: #c1dfff;
    margin: 10px;
    padding: 20px 0px 0px 0px;
    height: 100%;
    align-items: center;
}
.risk_categories_progress_bar_label {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
    color: #052F5F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.risk_categories_progress_bar .mantine-Progress-label {
    color: black;
    font-size: 13px;
    font-family: "Poppins";
}
.risk_categories_progress_bar .mantine-Progress-bar {
    border: 1.5px solid black;
}
.risk_categories_progress_legend {
    margin: 0px 20px;
    padding: 0px;
}
.risk_categories_progress_legend_symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.risk_categories_progress_legend_marking {
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins";
    color: black;
}
.risk_categories_progress_legend_avatar .mantine-Avatar-placeholder {
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins";
    border: 2px solid #228be6;
}

/* date slider filter */
.comment_alert_line_chart_slider .rc-slider-track {
    background-color: black;
    height: 6px;
}
.comment_alert_line_chart_slider .rc-slider-step {
    position: absolute;
    width: 100%;
    height: 6px;
    background: transparent;
}
.comment_alert_line_chart_slider .rc-slider-handle {
    background-color: #eb2b5d;
    border-color: black;
    box-shadow: 0 0 0 3px #96dbfa;
    width: 16px;
    height: 16px;
}
.comment_alert_line_chart_slider .rc-slider-handle:hover {
    box-shadow: 0 0 0 5px #96dbfa;
}
.comment_alert_line_chart_slider .rc-slider-handle-dragging:focus {
    background-color: #eb2b5d;
    border-color: black;
    box-shadow: 0 0 0 5px #96dbfa;
    width: 16px;
    height: 16px;
}
.comment_alert_line_chart_slider .rc-slider-dot {
    border-color: #eb2b5d;
    width: 10px;
    height: 10px;
}
.comment_alert_line_chart_slider .rc-slider-dot:hover {
    background-color: #eb2b5d;
    width: 10px;
    height: 10px;
}

/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4.5rem;
    padding: 0rem 1rem 1rem 1rem;
    background-color: #052F5F;
    z-index: 1050;
    transition: width 0.2s ease-in-out;
}
.sidebar_header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    height: 8.5vh;
    margin-bottom: 10px;
    position: relative;
}
.sidebar_header::after {
    position: absolute;
    content: "";
    border: 4px solid #25D366;
    border-radius: 5px;
    width: 100%;
    bottom: 0px;
}
/* width of collapsed sidebar - paddingLeft - paddingRight */
.sidebar_header img {
    width: 2.5rem;
}
.sidebar_header h2 {
    font-family: "Poppins";
    margin-left: 1rem;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}
.sidebar_navlink {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    padding: 0px;
}
.sidebar_navlink_menu {
    display: none;
    transition: display 0.2s ease-in-out;
}
.sidebar_navlink_option {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* width of collapsed sidebar - paddingLeft - paddingRight */
.sidebar_navlink_option img {
    width: 2.5rem;
}
.sidebar_navlink_option span {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
    color: white;
}
.sidebar_help {
    width: 90%;
    padding: 5px;
    border-radius: 100%;
    background-color: #25D366;
    display: block;
    transition: display 0.2s ease;
}
.sidebar_help_container {
    position: relative;
    height: 15%;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins";
    padding: 20% 0px 10px 0px;
    color: white;
    background-color: #2D96FF;
    border-radius: 5px;
    display: none;
    transition: display 0.2s ease;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 14rem;
}
.sidebar:hover .sidebar_header h2 {
    visibility: visible;
    color: #25D366;
    font-family: "Poppins";
    font-weight: "bold";
    font-size: 26;
}
.sidebar:hover .sidebar_navlink_menu {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.sidebar:hover .sidebar_navlink_option span {
    visibility: visible;
    color: white;
    font-family: "Poppins";
    font-weight: 450;
    margin-left: 1rem;
}
.sidebar:hover .sidebar_help {
    display: none;
}
.sidebar:hover .sidebar_help_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Row 1 */
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Content Categories*/
.content_risk_classification_container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.content_risk_classification_container:hover {
    transform: translateY(-5px);
}

/* Radial Chart */
.content_classification_radial_chart {
    font-family: "Poppins";
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content_classification_image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Progress Bar */
.risk_categories_horizontal_bar {
    font-family: "Poppins";
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Save As Image */
.save_as_image {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.content_risk_classification_container:hover .save_as_image {
    display: block;
}

/* Risk Bar Chart */
.content_risk_bar_chart {
    font-family: "Poppins";
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.content_risk_bar_chart:hover {
    transform: translateY(-5px);
}

/* Row 2 */
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Comment Alert Line Chart */
.comment_alert_line_chart_container {
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.comment_alert_line_chart_container:hover {
    transform: translateY(-5px);
}

/* Comment Classification Pie Chart */
.comment_classification_pie_chart {
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
.comment_classification_pie_chart:hover {
    transform: translateY(-5px);
}
