.login_page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.login_page_image {
    height: 100%;
    weight: 100%;
}
.login_page_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login_page_form_email {
    width: 55%;
}
.login_page_form_password {
    width: 55%;
}
.login_page_form_submit {
    margin: 20px;
}

.mantine-TextInput-input,
.mantine-PasswordInput-input {
    border: none !important;
    border-bottom: 1px solid #052F5F !important;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}