aiobotocore==2.24.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
ansi2html==1.8.0
async-timeout==5.0.1
atomicwrites==1.4.1
attrs==23.1.0
boto3
botocore
cachelib==0.13.0
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
dash==2.9.0
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
dash-tools==1.12.0
dash_auth==2.2.0
dill==0.4.0
diskcache==5.6.3
distlib==0.3.8
dnspython==2.4.2
docopt==0.6.2
dotenv==0.9.9
et_xmlfile==2.0.0
Faker==37.8.0
filelock==3.13.1
Flask==2.2.5
Flask-Caching==2.3.1
fonttools==4.46.0
frozenlist==1.7.0
fsspec==2025.9.0
gunicorn==21.2.0
identify==2.5.33
idna==3.4
imageio==2.33.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.5
lazy_loader==0.3
MarkupSafe==2.1.3
matplotlib==3.7.4
multidict==6.6.4
multiprocess==0.70.18
mysql-connector-python==8.1.0
narwhals==2.5.0
nest-asyncio==1.5.7
networkx==3.1
nodeenv==1.8.0
numpy==1.24.4
openpyxl==3.1.5
packaging==21.3
pandas==2.0.3
Pillow==10.1.0
pipreqs==0.4.12
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
pre-commit==2.16.0
propcache==0.3.2
protobuf==4.21.12
psutil==7.1.0
py==1.11.0
pymongo==4.6.1
PyMySQL==1.1.0
pyparsing==3.1.1
pyshorteners==1.0.1
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==1.1.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
s3fs==2025.9.0
s3transfer==0.6.1
scikit-image==0.21.0
scipy==1.10.1
six==1.16.0
SQLAlchemy==2.0.43
tenacity==8.2.2
termcolor==1.1.0
tifffile==2023.7.10
toml==0.10.2
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.25.0
visdcc==0.0.50
webcolors==1.13
Werkzeug==2.2.3
wrapt==1.17.3
yarg==0.1.9
yarl==1.20.1
yolk3k==0.9
zipp==3.16.2
